@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body{
    margin: 0 auto;
    overflow-x: hidden;
}

.ang{
  color: white;
}

.pos{
  font-size: 5rem;
  position: absolute;
  z-index: 1;
  left: 41%;
  top: 38%;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 
  -120px -218.66667px #ff66a3,
  248px -16.66667px #ffffff,
  190px 16.33333px #ff3333,
  -113px -308.66667px #ff1a75,
  -109px -287.66667px #ffffff,
  -50px -313.66667px #ff1a4d,
  226px -31.66667px #ff8c80,
  180px -351.66667px #ff66b2,
  -12px -338.66667px #ff1a75,
  220px -388.66667px #ffcc99,
  -69px -27.66667px #ff1a4d,
  -111px -339.66667px #d780b9,
  155px -237.66667px #ff80bf,
  -152px -380.66667px #ffcc99,
  -50px -37.66667px #ff99cc,
  -95px -175.66667px #ffcc99,
  -88px 10.33333px #ee54cf,
  112px -309.66667px #eb5893,
  69px -415.66667px #ff1a4d,
  168px -100.66667px #ff1a66,
  236px -126.66667px #f540e3,
  140px -196.66667px #dc5353,
  125px -175.66667px #cc3847,
  118px -381.66667px #ff1a4d,
  144px -111.66667px #d43451,
  36px -78.66667px #9e202d,
  -63px -196.66667px #d2357c,
  -218px -227.66667px #ffcc99,
  -134px -377.66667px #ff0062,
  -36px -412.66667px #ff1a4d,
  209px -106.66667px #ffcc99,
  91px -278.66667px #ffffff,
  -22px -191.66667px #ffcc99,
  139px -392.66667px #ffcc99,
  56px -2.66667px #ffcc99,
  -156px -276.66667px #ff1a4d,
  -163px -233.66667px #ff1a4d,
  -238px -346.66667px #ff1a4d,
  62px -363.66667px #ff1a4d,
  244px -170.66667px #ff1a4d,
  224px -142.66667px #ff1a4d,
  141px -208.66667px #ff1a4d,
  211px -285.66667px #ff1a4d,
  181px -128.66667px #ff1a4d,
  90px -123.66667px #ff1a4d,
  189px 70.33333px #ff1a4d,
  -18px -383.66667px #ff1a4d,
  100px -6.66667px #ff1a4d;
  /* box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c; */
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }

/* .fireworks {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden; 
} */

.c1{
  position: absolute;
  width: 140px;
  height: 32%;
  top: 1%;
  left: 20%;
}

.c3{
  position: absolute;
  width: 180px;
}

.c4{
  position: absolute;
  bottom: 0;
  width: 280px;
}

.c5{
  position: absolute;
  bottom: 0;
  left: 2%;
}
.c6{
  position: absolute;
  width: 180px;
  right: 0;
  top: 5%;
}

.c7{
  position: absolute;
  width: 180px;
  left: 0;
}

.c8{
  position: absolute;
  width: 280px;
  bottom: 0;
  right: 15%;
}

.c9{
  position: absolute;
  width: 220px;
  left: 25%;
  top: 35%;
}

.c10{
  position: absolute;
  width: 280px;
  right: 1%;
  bottom: 2%;
}

.c11{
  position: absolute;
  width: 220px;
  right: 15%;
}
.c12{
  position: absolute;
  width: 23%;
  right: 27%;
}

.c13{
  position: absolute;
  width: 20%;
  right: 0;
  top: 40%;
}

.c14{
  position: absolute;
  width: 15%;
  top: 40%;
  left: 45%;
}

.newBody{
    background-color: #701711;
    margin: 0 auto;
    overflow: hidden;
    margin: 0 auto;
    overflow-x: hidden;
}

.navbar-brand{
    display: flex;
    align-items: center;
    gap: 3%;
    font-family: 'Yellowtail', cursive;
}

.navbar{
    padding: 0 3%;
    margin: 0;
    font-family: 'Yellowtail', cursive;
}

.navImg{
    width: 20%;
}

.coverImg{
    width: 90%;
    height: 400px;
    margin-bottom: 15%;
}

.coverDiv{
    margin: 2%;
    padding: 2% 2% 4% 2%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.cover{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.warning{
    background-color: #c9c6c6;
    width: 30%;
    position: absolute;
    left: 35%;
    top: 20%;
    z-index: 2;
}

.upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
}

.b1{
    height: 15%;
}

.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lower{
    background-color: #949292;
    padding: 1.5%;
    display: flex;
    justify-content: end;
    gap: 2%;
}

/*Progress bar*/

#myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: pink;
  }

  .fullProgress{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 40%;
  }

  .btn{
    margin-top: 2%;
    padding: 1.5%;
    align-self: flex-end;
    background-color: #c9c6c6;
  }

  .warningInfo{
    font-size: 1.2rem;
  }

  .header{
    padding-top: 5%;
  }

  /*Troubleshooter*/
  .troubleshooter{
    background-color: #c9c6c6;
    width: 30%;
    position: absolute;
    left: 35%;
    top: 35%;
}

  .mid1{
    display: flex;
    flex-direction: column;
  }

  ul{
    list-style-type: ">";
  }

  li > button{
    background-color: transparent;
    margin-left: 5%;
  }

  li > button:hover{
    font-size: 0.9rem;
  }

  li{
    padding: 3%;
  }

  @media (max-width: 767px){
    .warning, .troubleshooter{
        width: 80%;
        position: absolute;
        left: 10%;
    }

    .positional{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .fullProgress{
      z-index: 1;
    }

    .coverImg{
        width: 70%;
        margin-bottom: 1%;
    }

    .coverDiv{
        width: 70%;
        height: 70%;
        padding-bottom: 1%;
    }

    .title{
        font-size: 0.9rem;
    }

    .pricing{
        font-size: 0.7rem;
    }

    .navbar-brand{
        font-size: 0.8rem;
        width: 50%;
    }

    .navbar-toggler-icon{
        font-size: 0.8rem;
    }

    .navImg{
        width: 20%;
        height: 10%;
    }

    .cover > img{
      width: 100%;
    }

    .imgDiv{
      width: 100vw;
      height: 100vh;
    }

    .c1{
      object-fit: cover;
      width: auto;
      display: none;
    }

    .c2{
      width: 20%;
    }

    .c3{
      width: 30%;
      right: -5%;
      top: 25%;
    }

    .c7{
      width: 40%;
    }

    .c8{
      width: 40%;
      left: 20%;
    }

    .c9{
      width: 40%;
      top: 55%;
      left: 10%;
    }

    .c10{
      width: 30%;
    }

    .c13{
      width: 30%;
      left: 0;
    }

    .c14{
      top: 50%;
      width: 60%;
    }

    .pos{
      position: absolute;
      z-index: 1;
      left: 27%;
      top: 45%;
    }
  }

  /*Fireworks*/
  .fireworks {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden; 
  }